Repository zacYL/bk-repo, changes with the owners that CODEOWNERS names for each.
All owners: @owenlxu, @zacyanliu, @felixncheng, @yaoxuwan, @kunlongli

feature: p1_0000 集成dependency-checker v0.5.0 调整
  src/backend/build.gradle.kts
  src/backend/common/common-checker/biz-checker/src/main/kotlin/com/tencent/bkrepo/common/checker/util/DependencyCheckerUtils.kt
  src/backend/scanner-executor/biz-scanner-executor/src/main/kotlin/com/tencent/bkrepo/scanner/executor/dependencycheck/DependencyScanExecutor.kt
Owners: @felixncheng

feat: p1_16588 【CPack】许可证管理-接口调整
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/controller/user/UserLicenseController.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/dao/SpdxLicenseDao.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/SpdxLicenseService.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/impl/SpdxLicenseServiceImpl.kt
Owners: @kunlongli

feat: p1_16588 【CPack】许可证管理-接口文档
  docs/apidoc/scanner/license.md
Owners: @owenlxu

feature: p1_17697 查询最新漏洞库数据文件逻辑更新
  src/backend/common/common-artifact/artifact-api/src/main/kotlin/com/tencent/bkrepo/common/artifact/constant/PublicGlobalConstants.kt
  src/backend/scanner-executor/biz-scanner-executor/src/main/kotlin/com/tencent/bkrepo/scanner/executor/dependencycheck/DependencyScanExecutor.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/model/TScanner.kt
Owners: @felixncheng, @kunlongli

feature: p1_17815 漏洞库仓库限定为`public-global`/`vuldb-repo` 二进制仓库
  src/backend/common/common-artifact/artifact-service/src/main/kotlin/com/tencent/bkrepo/common/artifact/repository/context/ArtifactContextHolder.kt
Owners: @felixncheng

feat: p1_16588 【CPack】许可证管理-默认仓库调整
  docs/apidoc/scanner/license.md
  src/backend/common/common-artifact/artifact-api/src/main/kotlin/com/tencent/bkrepo/common/artifact/constant/PublicGlobalConstants.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/Constants.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/event/ScanEventConsumer.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/impl/SpdxLicenseServiceImpl.kt
Owners: @owenlxu, @felixncheng, @kunlongli

feat: p1_16588 【CPack】许可证管理-切换合规/不合规转态接口调整
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/controller/user/UserLicenseController.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/SpdxLicenseService.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/impl/SpdxLicenseServiceImpl.kt
Owners: @kunlongli

feat: p1_16588 【CPack】许可证管理-补充接口文档
  docs/apidoc/scanner/license.md
Owners: @owenlxu

feat: p1_16588 【CPack】许可证管理-删除无用import和文件
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/license/UpdateLicenseRequest.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/controller/user/UserLicenseController.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/SpdxLicenseService.kt
Owners: @kunlongli

feat: p1_16143 安全许可扫描
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/LicenseLevel.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/LicenseNature.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/LicenseNatureStatus.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/ScanExecutorResult.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/Scanner.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/result/ScanCodeToolkitScanExecutorResult.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/result/ScancodeItem.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/result/ScancodeToolkitItem.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/result/SubLicenseItem.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/scanner/ScancodeToolkitScanner.kt
  src/backend/scanner-executor/biz-scanner-executor/src/main/kotlin/com/tencent/bkrepo/scanner/executor/scancodeCheck/ScancodeToolkitExecutor.kt
  src/backend/scanner-executor/biz-scanner-executor/src/main/kotlin/com/tencent/bkrepo/scanner/executor/scancodeCheck/pojo/ScancodeToolResult.kt
  src/backend/scanner-executor/biz-scanner-executor/src/main/kotlin/com/tencent/bkrepo/scanner/executor/util/DockerUtils.kt
  src/backend/scanner-executor/biz-scanner-executor/src/main/resources/toolScan.sh
  src/backend/scanner-executor/boot-scanner-executor/src/test/kotlin/com/tencent/bkrepo/scanner/executor/ScancodeToolkitExecutorTest.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/api/ScanClient.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/ScanSchemeType.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/request/LoadResultArguments.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/request/scancodetoolkit/ArtifactLicensesDetailRequest.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/request/scancodetoolkit/ScancodeToolkitResultArguments.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/response/FileLicensesResultDetail.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/response/FileLicensesResultOverview.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/response/ScanLicensePlanInfo.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/component/manager/arrowhead/dao/ResultItemDao.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/component/manager/scancode/ScancodeResultManager.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/component/manager/scancode/dao/ScancodeItemDao.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/component/manager/scancode/model/TScancodeItem.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/controller/ScanController.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/controller/user/UserScanPlanController.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/controller/user/UserScanReportController.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/ScanPlanService.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/ScanService.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/impl/ScanPlanServiceImpl.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/impl/ScanServiceImpl.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/task/iterator/IteratorManager.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/utils/RuleConverter.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/utils/ScanLicenseConverter.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/utils/ScanPlanConverter.kt
Owners: @felixncheng, @kunlongli

--task: p1_0000 合并腾讯develop分支开发代码，增加对应配置
  support-files/templates/product/#etc#repo#application-generic.yaml
  support-files/templates/product/#etc#repo#application-helm.yaml
  support-files/templates/product/#etc#repo#application-job.yaml
  support-files/templates/product/#etc#repo#application-replication.yaml
  support-files/templates/product/#etc#repo#application-repository.yaml
  support-files/templates/product/#etc#repo#application-webhook.yaml
  support-files/templates/product/#etc#repo#common.yaml
Owners: @owenlxu

--task: p1_0000 解决合并代码后编译问题
  src/backend/common/common-cpack/build.gradle.kts
  src/backend/common/common-cpack/src/main/kotlin/com/tencent/bkrepo/common/cpack/service/impl/MailServiceImpl.kt
  src/backend/common/common-security/src/main/kotlin/com/tencent/bkrepo/common/security/exception/SecurityExceptionHandler.kt
Owners: @felixncheng

feat: p1_16143 删除多余文件
  src/backend/scanner-executor/boot-scanner-executor/src/test/kotlin/com/tencent/bkrepo/scanner/executor/ScancodeToolkitExecutorTest.kt
Owners: none

feature: p1_17530 【CPack】制品扫描-扫描方案详情新增任务视图
  src/frontend/devops-repository/src/scss/reset.scss
  src/frontend/devops-repository/src/views/repoScan/scanReport/index.vue
Owners: none

fix: p1_0 路由配置异常导致页面错误
  src/frontend/devops-repository-ci/src/router/router.js
Owners: none

fix: p1_17308 【CPack】优化扫描方案类型-扫描器-文案-仓库范围
  src/frontend/devops-repository/src/store/publicEnum.js
  src/frontend/devops-repository/src/views/repoScan/createScanDialog.vue
Owners: none

feature: p1_15915 【CPack】分版本显示不同内容
  src/frontend/devops-repository-ci/src/store/extStore.js
Owners: none

feature: p1_17530 【CPack】制品扫描-扫描方案详情新增任务视图
  src/frontend/devops-repository/src/images/icon-plus-stop.svg
  src/frontend/devops-repository/src/store/actions/scan.js
  src/frontend/devops-repository/src/views/repoScan/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/filterSideslider.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/overview.vue
Owners: none

p1_17684 【CPack】腾讯代码合并后，元数据的数据格式调整，前端需要相应调整
  src/frontend/devops-repository-ci/src/views/repoCommon/commonVersionDetail.vue
  src/frontend/devops-repository-ci/src/views/repoGeneric/genericDetail.vue
  src/frontend/devops-repository-ci/src/views/repoGeneric/index.vue
  src/frontend/devops-repository/src/views/repoCommon/commonVersionDetail.vue
  src/frontend/devops-repository/src/views/repoGeneric/genericDetail.vue
  src/frontend/devops-repository/src/views/repoGeneric/index.vue
Owners: none

feature: p1_17684 【CPack】腾讯代码合并后，元数据的数据格式调整，前端需要相应调整
  src/frontend/devops-repository-ci/src/views/repoCommon/commonVersionDetail.vue
  src/frontend/devops-repository-ci/src/views/repoGeneric/genericDetail.vue
  src/frontend/devops-repository/src/views/repoCommon/commonVersionDetail.vue
  src/frontend/devops-repository/src/views/repoGeneric/genericDetail.vue
Owners: none

feature: p1_0 许可证管理&漏洞库管理
  src/frontend/devops-repository-ci/src/router/router.js
  src/frontend/devops-repository-ci/src/views/repoCommon/commonPackageDetail.vue
  src/frontend/devops-repository-ci/src/views/repoConfig/index.vue
  src/frontend/devops-repository-ci/src/views/repoGeneric/index.vue
  src/frontend/devops-repository-ci/src/views/repoList/index.vue
  src/frontend/devops-repository/src/router/router.js
  src/frontend/devops-repository/src/scss/reset.scss
  src/frontend/devops-repository/src/store/actions/repoGeneric.js
  src/frontend/devops-repository/src/store/actions/scan.js
  src/frontend/devops-repository/src/views/nodeManage/index.vue
  src/frontend/devops-repository/src/views/planManage/index.vue
  src/frontend/devops-repository/src/views/planManage/logDetail.vue
  src/frontend/devops-repository/src/views/projectManage/index.vue
  src/frontend/devops-repository/src/views/projectManage/projectConfig.vue
  src/frontend/devops-repository/src/views/repoAudit/index.vue
  src/frontend/devops-repository/src/views/repoCommon/commonPackageDetail.vue
  src/frontend/devops-repository/src/views/repoCommon/commonPackageList.vue
  src/frontend/devops-repository/src/views/repoConfig/index.vue
  src/frontend/devops-repository/src/views/repoGeneric/genericUploadDialog.vue
  src/frontend/devops-repository/src/views/repoGeneric/index.vue
  src/frontend/devops-repository/src/views/repoList/index.vue
  src/frontend/devops-repository/src/views/repoScan/artiReport.vue
  src/frontend/devops-repository/src/views/repoScan/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanConfig/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanConfig/scanQualityRule.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/index.vue
  src/frontend/devops-repository/src/views/repoScan/securityConfig/index.vue
  src/frontend/devops-repository/src/views/repoScan/securityConfig/licenseManage.vue
  src/frontend/devops-repository/src/views/repoScan/securityConfig/scannerManage.vue
  src/frontend/devops-repository/src/views/repoSearch/index.vue
  src/frontend/devops-repository/src/views/repoToken/index.vue
  src/frontend/devops-repository/src/views/userManage/role.vue
  src/frontend/devops-repository/src/views/userManage/user.vue
  src/frontend/devops-software/src/views/repoList/index.vue
  src/frontend/devops-software/src/views/repoSearch/index.vue
Owners: none

feature: p1_17276 【CPack】增加NPM,PYPI扫描
  src/frontend/devops-repository/src/store/publicEnum.js
Owners: none

feature: p1_16412【CPack】安全扫描-扫描报告（许可证）
  src/frontend/devops-repository/src/store/actions/scan.js
  src/frontend/devops-repository/src/store/publicEnum.js
  src/frontend/devops-repository/src/views/repoScan/scanConfig/artiTable/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanConfig/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanConfig/repoTable/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanConfig/repoTable/repoDialog.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/filterSideslider.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/overview.vue
  src/frontend/devops-repository/src/views/repoScan/securityConfig/licenseManage.vue
Owners: none

fix: p1_0 上传文件接口添加CSRF请求头
  src/frontend/devops-repository/src/store/actions/repoGeneric.js
Owners: none

--task: p1_0000 解决合并代码后编译问题
  src/backend/common/common-license-canway/src/main/kotlin/net/devops/canway/common/lse/web/LseInterceptor.kt
  src/backend/common/common-security/src/test/kotlin/com/tencent/bkrepo/common/security/util/RsaUtilsTest.kt
Owners: @felixncheng

--task: p1_0000 解决合并代码后编译问题
  src/backend/repository/biz-repository/src/main/kotlin/com/tencent/bkrepo/repository/service/node/impl/NodeBaseService.kt
Owners: @felixncheng

feat: p1_16805 packageVersion类新增manifestPath字段
  src/backend/repository/api-repository/src/main/kotlin/com/tencent/bkrepo/repository/pojo/packages/PackageVersion.kt
  src/backend/repository/biz-repository/src/main/kotlin/com/tencent/bkrepo/repository/service/packages/impl/PackageServiceImpl.kt
Owners: @felixncheng

format p1_10000 代码格式规范
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/LicenseLevel.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/LicenseNature.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/LicenseNatureStatus.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/result/ScanCodeToolkitScanExecutorResult.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/result/ScancodeItem.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/result/ScancodeToolkitItem.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/result/SubLicenseItem.kt
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/scanner/ScancodeToolkitScanner.kt
  src/backend/scanner-executor/biz-scanner-executor/src/main/kotlin/com/tencent/bkrepo/scanner/executor/scancodeCheck/ScancodeToolkitExecutor.kt
  src/backend/scanner-executor/biz-scanner-executor/src/main/kotlin/com/tencent/bkrepo/scanner/executor/util/DockerUtils.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/api/ScanClient.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/ScanSchemeType.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/request/scancodetoolkit/ArtifactLicensesDetailRequest.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/request/scancodetoolkit/ScancodeToolkitResultArguments.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/response/FileLicensesResultDetail.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/response/FileLicensesResultOverview.kt
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/response/ScanLicensePlanInfo.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/component/manager/scancode/ScancodeResultManager.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/component/manager/scancode/dao/ScancodeItemDao.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/component/manager/scancode/model/TScancodeItem.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/utils/ScanLicenseConverter.kt
Owners: @felixncheng, @kunlongli

format: p1_10000 代码格式化
  src/backend/common/common-scanner/src/main/kotlin/com/tencent/bkrepo/common/scanner/pojo/scanner/scanCodeCheck/result/SubLicenseItem.kt
Owners: @felixncheng

format: p1_10000 代码格式化
  src/backend/scanner-executor/biz-scanner-executor/src/main/kotlin/com/tencent/bkrepo/scanner/executor/scancodeCheck/pojo/ScancodeToolResult.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/component/manager/scancode/dao/ScancodeItemDao.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/ScanPlanService.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/service/impl/ScanPlanServiceImpl.kt
Owners: @kunlongli

feature: p1_16412【CPack】安全扫描-扫描报告（许可证）
  src/frontend/devops-repository/src/views/repoScan/scanReport/index.vue
Owners: none

feature: p1_16412【CPack】安全扫描-扫描报告（许可证）
  src/frontend/devops-repository/src/views/repoScan/scanConfig/artiTable/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanConfig/repoTable/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/filterSideslider.vue
Owners: none

feature: p1_16412【CPack】安全扫描-扫描报告（许可证）
  src/frontend/devops-repository/src/store/actions/scan.js
  src/frontend/devops-repository/src/views/repoScan/artiReport/index.vue
  src/frontend/devops-repository/src/views/repoScan/artiReport/leak.vue
  src/frontend/devops-repository/src/views/repoScan/artiReport/license.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/overview.vue
  src/frontend/devops-repository/src/views/repoScan/scanTag/index.vue
  src/frontend/devops-repository/src/views/repoScan/securityConfig/licenseManage.vue
Owners: none

feature: p1_16412【CPack】安全扫描-扫描报告（许可证）
  src/frontend/devops-repository/src/views/repoScan/artiReport/license.vue
Owners: none

feature: p1_16412【CPack】安全扫描-扫描报告（许可证）
  src/frontend/devops-repository/src/views/repoScan/artiReport/leak.vue
  src/frontend/devops-repository/src/views/repoScan/artiReport/license.vue
  src/frontend/devops-repository/src/views/repoScan/index.vue
  src/frontend/devops-repository/src/views/repoScan/scanReport/overview.vue
Owners: none

fix: p1_10000 修改字段名称
  src/backend/scanner/api-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/pojo/ScanSchemeType.kt
  src/backend/scanner/biz-scanner/src/main/kotlin/com/tencent/bkrepo/scanner/utils/ScanLicenseConverter.kt
Owners: @kunlongli

--task: p1_0000 适配devops-framework 0.0.6-snapshot版本，微服务注册到consul服务名称问题
  support-files/templates/product/#etc#repo#application-auth.yaml
  support-files/templates/product/#etc#repo#application-composer.yaml
  support-files/templates/product/#etc#repo#application-docker.yaml
  support-files/templates/product/#etc#repo#application-generic.yaml
  support-files/templates/product/#etc#repo#application-helm.yaml
  support-files/templates/product/#etc#repo#application-job.yaml
  support-files/templates/product/#etc#repo#application-maven.yaml
  support-files/templates/product/#etc#repo#application-npm.yaml
  support-files/templates/product/#etc#repo#application-nuget.yaml
  support-files/templates/product/#etc#repo#application-opdata.yaml
  support-files/templates/product/#etc#repo#application-pypi.yaml
  support-files/templates/product/#etc#repo#application-replication.yaml
  support-files/templates/product/#etc#repo#application-repository.yaml
  support-files/templates/product/#etc#repo#application-rpm.yaml
  support-files/templates/product/#etc#repo#application-scanner.yaml
  support-files/templates/product/#etc#repo#application-scannerexecutor.yaml
  support-files/templates/product/#etc#repo#application-webhook.yaml
Owners: @owenlxu

--task: p1_0000 CPack独立部署配置修改
  support-files/templates/product/#etc#repo#common.yaml
  support-files/templates/product/cpack.env
Owners: @owenlxu

feature: p1_0 新增Docker仓库漏洞扫描
  src/frontend/devops-repository/src/store/publicEnum.js
Owners: none

CODEOWNERS:

# Where component owners are known, add them here.
/docs                   @owenlxu
/scripts                @owenlxu
/support-files          @owenlxu
/support-files          @owenlxu
/src/gateway            @owenlxu
/src/backend/auth       @owenlxu
/src/backend/oci        @zacyanliu
/src/backend/rds        @zacyanliu
/src/backend/helm       @zacyanliu
/src/backend/rpm        @zacyanliu
/src/backend/maven      @zacyanliu
/src/backend/generic    @felixncheng
/src/backend/common     @felixncheng
/src/backend/repository @felixncheng
/src/backend/npm        @felixncheng
/src/backend/webhook    @yaoxuwan
/src/backend/scanner    @kunlongli
/src/backend/opdata     @kunlongli
